.center-element {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.divider-right {
    border-right: solid 1px lightgray;
}

.center-container .ui.grid {
    margin-top: 0rem;
}